@import "variables";

.mob-nav-grp {
  min-height: 64px;
  background-color: $charcoal-grey;
  line-height: 64px;
  .settings{
    text-align: right;
    a{
      padding: 10px 16px;
    }
  }
  #mob-menu-btn{
    padding: 14px 6px;
    border: 1px solid $icon-default;
    color: $icon-default;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
  }
}

.side-navbar{
  color: $white;
  background: $navbar-side url('/images/bgd_nav.png') no-repeat 0 0 !important;
  min-height: 706px;
  width: 288px;
  float: left;
  overflow: hidden;
  @media only screen and(max-width: 1200px){
    background: $navbar-side url('/images/bgd_nav_mobile_320.png') no-repeat 0 0 !important;
    width: 320px;
  }
  @media only screen and (max-width: 1024px){
    padding: 0 20px;
    overflow-y: scroll;
  }
  @include trans(.5);
  .logo{
    padding: 42px 36px;
    @include trans(.5);
    @media only screen and(max-width: 991px){
      padding: 16px 36px 40px 16px;
    }
    img{
      width: 113px;
      height: auto;
    }
    svg{
      &.freestyle_logo{
        width: 113px;
        height: 35px;
        display: inline-block;
      }
      &.freestyle_logo_icon{
        width: 32px;
        height: 35px;
        display: none;
      }
    }
  }

  .main-nav{
    padding: 0 16px;
    @include trans(.3);
    @media only screen and(max-width: 991px){
      padding: 0;
    }
    a{
      display: inline-block;
      width: 100%;
      color: $white;
      text-decoration: none;
      letter-spacing: -0.1px;
      @media only screen and(max-width: 1024px){
        font-size: 18px;
      }
    }
    .card{
      background-color: initial;
      border: none;
      border-radius: 4px;
      margin-bottom: 10px;
      @include trans(.2);
      &:hover{
        background-color: $list-expanded-rgba;
        @include trans(.2);
      }
      &.active{
        background-color: $list-expanded-rgba;
        @include trans(.2);
      }
    }
    .card-header{
      background-color: initial;
      border: none;
      padding: 0;
      position: relative;
      a{
        padding: 12px 20px;
        span{
          position: absolute;
          width: 200px;
          top: 12px;
          left: 60px;
        }
        &.collapsed{
          svg{
            &.carrot{
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
              @include trans(.5);
            }
          }
        }
      }
      svg{
        position: relative;
        top: 3px;
        &.dash{
          width: 22px;
          margin-right: 18px;
        }
        &.carrot{
          width: 10px;
          height: 7px;
          margin: 0;
          position: absolute;
          top: 22px;
          right: 20px;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          @include trans(.5);
        }
        &.device{
          width: 20px;
          margin-right: 20px;
        }
        &.system-admin{
          width: 24px;
          margin-right: 16px;
        }
        &.alerts{
          width: 19px;
          margin-right: 21px;
        }
      }
      &+div{
        &.sub-content{
          padding: 0 20px 12px 20px;
          @media only screen and(max-width: 991px){
            padding: 0 10px 12px 10px;
          }
        }
        .card-block{
          padding: 0;
          ul{
            &.sub-nav{
              list-style: none;
              padding: 0;
              li{
                padding: 0;
                margin-bottom: 10px;
                a{
                  width: 100%;
                  display: inline-block;
                  min-height: 40px;
                  line-height: 40px;
                  padding: 0 0 0 40px;
                  border-radius: 4px;
                  @include trans(.3);
                  &:hover{
                    background-color: $list-expanded-selected;
                    @include trans(.3);
                  }
                  &.active{
                    background-color: $list-expanded-selected;
                    @include trans(.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .collapse-btn{
    .arr-hide{
      text-align: right;
      position: absolute;
      bottom: 0;
      padding: 21px;
      cursor: pointer;
      left: 228px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      @include trans(.5);
      svg{
        width: 18px;
        height: 16px;
        fill: $white;
      }
    }
  }

  &.nav-collapse{
    width: 60px;
    @include trans(.5);
    .logo{
      padding: 42px 16px;
      @include trans(.5);
      svg {
        &.freestyle_logo {
          display: none;
        }
        &.freestyle_logo_icon {
          display: inline-block;
        }
      }
    }
    .main-nav{
      padding: 16px 0;
      @include trans(.3);
      .card-header{
        a{
          span{
            display: none;
          }
          svg{
            &.carrot{
              width: 0;
              @include trans(.4);
            }
          }
        }
        &+div{
          display: none;
        }
      }
    }
    .collapse-btn{
      .arr-hide {
        left: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        @include trans(.5);
      }
    }
  }
}

#menu-main-mob, #menu-profile-mob{
  background-color: $navbar-side;
  overflow: scroll !important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  .side-navbar{
    display: none;
    padding: 0 15px;
    overflow: scroll !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    @media only screen and (max-width: 991px){
      width: 320px;
    }
    .mm-navbar{
      display: none;
    }
  }
  .mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before{
    height: 0;
  }

  &.mm-opened{
    .side-navbar{
      display: block;
      position: relative;
      #mm-slideout-close{
        position: absolute;
        top: 24px;
        right: 15px;
        z-index: 1;
        display: inline-block;
      }
    }
  }
}

#menu-profile-mob{
  #mm-slideout-close{
    display: block !important;
    float: none;
    position: relative !important;
    top: 0 !important;
    left: 16px;
    margin: 24px 0 16px 0;
  }
  hr{
    &.split{
      border-color: rgba(213,214,215,.4);
      margin-bottom: 30px;
    }
  }
  svg{
    path{
      fill: $icon-default;
    }
  }
}

#profile-info{
  text-align: center;
  svg{
    &.avatar{
      width: 124px;
      height: 124px;
      fill-opacity: .2;
      @media only screen and (max-width: 480px){
        width: 84px;
        height: 84px;
      }
    }
  }
  p{
    letter-spacing: -0.2;
    line-height: 24px;
    margin: 0;
    &.user-name{
      font-size: 18px;
      margin-top: 16px;
    }
    &.user-type{
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

#accordion-settings-mob{
  .card{
    &.sign-out{
      margin-top: 30px;
    }
  }
}

#menu-main-desk {
  background-color: $navbar-side;
  .side-navbar{
    min-height: 1080px;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
}

.main-component{
  width: 100%;
  .profile-settings{
    padding-top: 15px;
    svg{
      width: 14px;
      height: 14px;
      fill: $profile-settings-text-icon;
      margin: 0 10px;
      &.notifications{
        width: 13px;
      }
      &.prof-menu{
        width: 10px;
        height:5px;
        margin: 0;
        position: relative;
        top: -1px;
        transform: rotate(180deg);
      }
      cursor: pointer;
    }
    .profile-picture{
      width: 43px;
      height: 43px;
      margin-left: 20px;
    }
    .admin-text-grp{
      font-size: 14px;
      cursor: pointer;
      margin: 0 7px;
      &.dropdown-toggle{
        &::after{
          border: none !important;
        }
      }
    }
    .dropdown-menu{
      top: 40px;
      left: -100px;
      a{
        font-size: 14px;
        color: $profile-settings-text-icon;
        @include trans(.1);
        &:hover{
          background-color: $profile-settings-text-icon;
          color: $grey;
          @include trans(.1);
        }
      }
    }
  }
}

.sidenav {
  height: inherit;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: $navbar-side;
  overflow-x: hidden;
  transition: 0.5s;
  .closebtn{
    position: relative;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 0;
  }
  &.mob-profile{
    right: 0;
    hr{
      &.split{
        border-color: rgba(213,214,215,.4);
        margin-bottom: 30px;
      }
    }
    svg{
      fill: $icon-default;
    }
    .closebtn{
      padding-left: 10px;
    }
  }
  &.mob-menu{
    left: 0;
    .closebtn{
      position: absolute;
      right: 16px;
    }
  }
  &.mob-profile, &.mob-menu{
    .side-navbar{
      @media only screen and (min-width: 376px){
        overflow-y: hidden;
      }
    }
  }
}

#main {
  transition: margin-left .5s;
}

.window-size{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  z-index: 99;
  p{
    display: inline-block;
    margin-right: 20px;
    color: $white;
    background-color: $charcoal-grey;
  }
}

.dashboard-grp{
  overflow-x: hidden;
}

//newly added test

.side-nav-grp{
  float: left;
}

.main-component{
  @media only screen and (min-width: 1200px){
    //padding-left: 288px;
    @include trans(.5);
  }
  &.trans-width{
    @media only screen and (min-width: 1200px){
      //padding-left: 60px;
      @include trans(.5);
    }
  }
  .highcharts-container{
    width: 100% !important;
  }
}

#chart-load {
  display: none;
}

.chart-grp{
  svg{
    width: inherit;
  }
}