@import "variables";

body{
  background-color: $grey;
}

#root{
  width: 100%;
  overflow: hidden;
}

svg{
  width: 16px;
  path{
    @include trans(.3);
  }
}
.form-group{
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

input{
  min-height: 50px;
  border-radius: 4px;
  &[type="checkbox"]{
    min-height: inherit;
  }
}

.btn{
  width: 103px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &.green{
    background-color: $green-primary;
    border-color: $green-primary;
    &:hover{
      background-color: $green-primary-hover;
      border-color: $green-primary-hover;
    }
  }
}

a{
  &.btn{
    &.green{
      font-family: sans-serif;
      font-size: 16px;
      max-height: 50px;
      text-transform: uppercase;
      line-height: 38px;
    }
  }
}