@import "variables";

.login-screen{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  .login-bg-image{
    text-align: center;
    position: absolute;
    background: url('/images/bgd_city_placeholder_1.jpg') no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    min-height: 1046px;
    left: 0;
    @media only screen and(max-width: 1680px){
      background-position-x: -160px;
    }
    @media only screen and(max-width: 1366px){
      background-position-x: -300px;
    }
    @media only screen and(max-width: 991px){
      background-position-x: -570px;
    }
    @media only screen and(max-width: 575px){
      min-height: 767px;
      max-height: 767px;
    }
    @media only screen and(max-width: 480px){
      min-height: 647px;
      max-height: 647px;
    }
    &.bottom{
      background: url('/images/bgd_city_placeholder_2.png') no-repeat;
      @media only screen and(max-width: 1680px){
        background-position-x: -160px;
      }
      @media only screen and(max-width: 1366px){
        background-position-x: -300px;
      }
      @media only screen and(max-width: 991px){
        background-position-x: -570px;
      }
      @media only screen and(max-width: 480px){
        display: none;
      }
    }
    &.top{
      background: url('/images/bgd_banner.png') no-repeat;
      @media only screen and(max-width: 1400px){
        background-position-y: -20px !important;
      }
      @media only screen and(max-width: 991px){
        background-position-y: -45px !important;
      }
      @media only screen and(max-width: 768px){
        background: url('/images/bgd_banner_768.png') no-repeat;
        background-position-y: 0 !important;
      }
      @media only screen and(max-width: 480px){
        background: url('/images/bgd_banner_480.png') no-repeat;
      }
      @media only screen and(max-width: 320px){
        background: url('/images/bgd_banner_320.png') no-repeat;
      }
    }
    .login-image-wide{
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      &.bottom{
        z-index: 10;
      }
    }
    .login-image-overlay{
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      &.logo{
        z-index: 3;
        width: 169px;
        margin-top: 20px;
        left:25px
      }
    }
    .login-panel-bg{
      position: absolute;
      left:0;
      top: 0;
      z-index: 0;
    }
  }
  svg{
    &.freestyle_logo_bar{
      width:168px;
      height:53px;
      position: absolute;
      top: 16px;
      left: 24px;
      z-index: 99;
      @media only screen and(max-width: 991px){
        width:132px;
        height:42px;
      }
    }
  }
  .container{
    .row{
      .col-sm-8{
        @media only screen and(max-width: 575px){
          padding: 0;
        }
      }
    }
  }
}

.login-panel{
  position: relative;
  text-align: center;
  width: 76%;
  margin: 15% auto 0 auto;
  background: url('/images/bgd_login.jpg') no-repeat;
  padding: 20% 0;
  //min-height: 767px;
  @media only screen and(max-width: 1680px){
    padding: 23% 0;
  }
  @media only screen and(max-width: 1366px){
    padding: 25% 0;
  }
  @media only screen and(max-width: 1199px){
    width: 90%;
  }
  @media only screen and(max-width: 991px){
    padding: 38% 9%;
    width: 100%;
    min-height: inherit;
  }
  @media only screen and(max-width: 767px){
    min-height: 767px;
  }
  @media only screen and(max-width: 575px){
    background: url('/images/bgd_login_600.jpg') no-repeat;
    margin-top: 0;
    max-height: 767px;
  }
  @media only screen and(max-width: 480px){
    background: url('/images/bgd_login_480.jpg') no-repeat;
    padding: 130px 30px 200px;
    width: 100%;
    margin: 0;
    background-position-x: 0;
  }
  @media only screen and(max-width: 320px){
  }
  img{
    margin-bottom: 16px;
  }
  h4{
    color: #ffffff;
    margin-bottom: 12%;
    font-size: 24px;
  }
  .form-check-label{
    color: #ffffff;
  }
  form{
    position: relative;
    z-index:100;
    .form-group{
      input{
        padding-left: 52px;
        @media only screen and (max-width: 991px) {
          padding-left: 16px;
        }
        &+svg{
          position: absolute;
          top: 13px;
          left: 20px;
          @media only screen and (max-width: 991px) {
            display: none;
          }
        }
        &:focus{
          &+svg{
            path{
              fill: #1A8B57;
              @include trans(.3);
            }
          }
        }
        &#username{
          &+svg{
            top: 16px;
          }
        }
        &[type=text],&[type=password]{
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $input-text-instructional;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $input-text-instructional;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $input-text-instructional;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $input-text-instructional;
          }

          &:focus{
            border-color: $green-primary-hover !important;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $input-text-focus-active;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $input-text-focus-active;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $input-text-focus-active;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $input-text-focus-active;
            }
          }
        }
      }
    }
    .check-box{
      text-align: left;
      font-size: 16px;
      input[type=checkbox]{
        //display: none;
        width: 24px;
        height: 24px;
        padding: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        position: absolute;
        top: -4px;
        left: 20px;
        z-index: 2;
        &+label{
          background: #999;
          background: url("/images/chk_box_default.png") no-repeat 0 0;
          height: 24px;
          width: 24px;
          display:inline-block;
          padding: 0 0 0 0;
        }
        &:checked{
          &+label{
            background: #0080FF;
            background: url("/images/chk_box_selected.png") no-repeat 0 0;
            height: 24px;
            width: 24px;
            display:inline-block;
            padding: 0 0 0 0;
          }
        }
      }
      span{
        color: $white;
        position: absolute;
        padding-left: 10px;
      }
    }
    a{
      color: $white;
      line-height: 46px;
      font-size: 14px;
    }
    a,button{
      &#submit{
        text-transform: uppercase;
      }
    }
  }
  hr{
    border-top: 1px solid $input-text-instructional;
    max-width: 320px;
    opacity: .6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  }
}

.language-selection{
  text-align: right;
  margin-top: 8px;
  margin-right: 16px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}

#myModal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  min-height: 1046px;
  background-color: rgba(0,0,0,.85);
}