$black : #000000;
$grey: #EDEDED;
$white: #FFFFFF;
$input-text-instructional: #808080;
$input-text-focus-active: #1E2225;
$green-primary: #35AC0A;
$green-primary-hover: #1A8B57;
$navbar-side: #343a3f;
$icon-default: #d5d6d7;
$list-expanded: #515B6C;
$list-expanded-selected: #1A8B57;
$list-expanded-rgba: rgba(81,91,108,.4);
$list-expanded--selected-rgba: rgba(26,139,87,1);
$profile-settings-text-icon: #2A3136;
$charcoal-grey: #2a3136;

@mixin trans($val){
  -webkit-transition: all $val+s ease-in-out !important; /* For Safari 3.1 to 6.0 */
  transition: all $val+s ease-in-out !important;
}
