body {
  background-color: #EDEDED;
  -webkit-overflow-scrolling: touch !important; }

svg {
  width: 16px; }
  svg path {
    -webkit-transition: all 0.3s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.3s ease-in-out; }

.form-group {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

input {
  min-height: 50px;
  border-radius: 4px; }
  input[type="checkbox"] {
    min-height: inherit; }

.btn {
  width: 103px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  .btn.green {
    background-color: #35AC0A;
    border-color: #35AC0A; }
    .btn.green:hover {
      background-color: #1A8B57;
      border-color: #1A8B57; }

a.btn.green {
  font-family: sans-serif;
  font-size: 16px;
  max-height: 50px;
  text-transform: uppercase;
  line-height: 38px; }

.login-screen {
  position: relative;
  max-width: 1920px;
  margin: 0 auto; }
  .login-screen .login-bg-image {
    text-align: center;
    position: absolute;
    background: url("/images/bgd_city_placeholder_1.jpg") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    min-height: 1046px;
    left: 0; }
    @media only screen and (max-width: 1680px) {
      .login-screen .login-bg-image {
        background-position-x: -160px; } }
    @media only screen and (max-width: 1366px) {
      .login-screen .login-bg-image {
        background-position-x: -300px; } }
    @media only screen and (max-width: 991px) {
      .login-screen .login-bg-image {
        background-position-x: -570px; } }
    @media only screen and (max-width: 575px) {
      .login-screen .login-bg-image {
        min-height: 767px;
        max-height: 767px; } }
    @media only screen and (max-width: 480px) {
      .login-screen .login-bg-image {
        min-height: 647px;
        max-height: 647px; } }
    .login-screen .login-bg-image.bottom {
      background: url("/images/bgd_city_placeholder_2.png") no-repeat; }
      @media only screen and (max-width: 1680px) {
        .login-screen .login-bg-image.bottom {
          background-position-x: -160px; } }
      @media only screen and (max-width: 1366px) {
        .login-screen .login-bg-image.bottom {
          background-position-x: -300px; } }
      @media only screen and (max-width: 991px) {
        .login-screen .login-bg-image.bottom {
          background-position-x: -570px; } }
      @media only screen and (max-width: 480px) {
        .login-screen .login-bg-image.bottom {
          display: none; } }
    .login-screen .login-bg-image.top {
      background: url("/images/bgd_banner.png") no-repeat; }
      @media only screen and (max-width: 1400px) {
        .login-screen .login-bg-image.top {
          background-position-y: -20px !important; } }
      @media only screen and (max-width: 991px) {
        .login-screen .login-bg-image.top {
          background-position-y: -45px !important; } }
      @media only screen and (max-width: 768px) {
        .login-screen .login-bg-image.top {
          background: url("/images/bgd_banner_768.png") no-repeat;
          background-position-y: 0 !important; } }
      @media only screen and (max-width: 480px) {
        .login-screen .login-bg-image.top {
          background: url("/images/bgd_banner_480.png") no-repeat; } }
      @media only screen and (max-width: 320px) {
        .login-screen .login-bg-image.top {
          background: url("/images/bgd_banner_320.png") no-repeat; } }
    .login-screen .login-bg-image .login-image-wide {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0; }
      .login-screen .login-bg-image .login-image-wide.bottom {
        z-index: 10; }
    .login-screen .login-bg-image .login-image-overlay {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
      .login-screen .login-bg-image .login-image-overlay.logo {
        z-index: 3;
        width: 169px;
        margin-top: 20px;
        left: 25px; }
    .login-screen .login-bg-image .login-panel-bg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0; }
  .login-screen svg.freestyle_logo_bar {
    width: 168px;
    height: 53px;
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 99; }
    @media only screen and (max-width: 991px) {
      .login-screen svg.freestyle_logo_bar {
        width: 132px;
        height: 42px; } }
  @media only screen and (max-width: 575px) {
    .login-screen .container .row .col-sm-8 {
      padding: 0; } }

.login-panel {
  position: relative;
  text-align: center;
  width: 76%;
  margin: 15% auto 0 auto;
  background: url("/images/bgd_login.jpg") no-repeat;
  padding: 20% 0; }
  @media only screen and (max-width: 1680px) {
    .login-panel {
      padding: 23% 0; } }
  @media only screen and (max-width: 1366px) {
    .login-panel {
      padding: 25% 0; } }
  @media only screen and (max-width: 1199px) {
    .login-panel {
      width: 90%; } }
  @media only screen and (max-width: 991px) {
    .login-panel {
      padding: 38% 9%;
      width: 100%;
      min-height: inherit; } }
  @media only screen and (max-width: 767px) {
    .login-panel {
      min-height: 767px; } }
  @media only screen and (max-width: 575px) {
    .login-panel {
      background: url("/images/bgd_login_600.jpg") no-repeat;
      margin-top: 0;
      max-height: 767px; } }
  @media only screen and (max-width: 480px) {
    .login-panel {
      background: url("/images/bgd_login_480.jpg") no-repeat;
      padding: 130px 30px 200px;
      width: 100%;
      margin: 0;
      background-position-x: 0; } }
  .login-panel img {
    margin-bottom: 16px; }
  .login-panel h4 {
    color: #ffffff;
    margin-bottom: 12%;
    font-size: 24px; }
  .login-panel .form-check-label {
    color: #ffffff; }
  .login-panel form {
    position: relative;
    z-index: 100; }
    .login-panel form .form-group input {
      padding-left: 52px; }
      @media only screen and (max-width: 991px) {
        .login-panel form .form-group input {
          padding-left: 16px; } }
      .login-panel form .form-group input + svg {
        position: absolute;
        top: 13px;
        left: 20px; }
        @media only screen and (max-width: 991px) {
          .login-panel form .form-group input + svg {
            display: none; } }
      .login-panel form .form-group input:focus + svg path {
        fill: #1A8B57;
        -webkit-transition: all 0.3s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: all 0.3s ease-in-out; }
      .login-panel form .form-group input#username + svg {
        top: 16px; }
      .login-panel form .form-group input[type=text]::-webkit-input-placeholder, .login-panel form .form-group input[type=password]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #808080; }
      .login-panel form .form-group input[type=text]::-moz-placeholder, .login-panel form .form-group input[type=password]::-moz-placeholder {
        /* Firefox 19+ */
        color: #808080; }
      .login-panel form .form-group input[type=text]:-ms-input-placeholder, .login-panel form .form-group input[type=password]:-ms-input-placeholder {
        /* IE 10+ */
        color: #808080; }
      .login-panel form .form-group input[type=text]:-moz-placeholder, .login-panel form .form-group input[type=password]:-moz-placeholder {
        /* Firefox 18- */
        color: #808080; }
      .login-panel form .form-group input[type=text]:focus, .login-panel form .form-group input[type=password]:focus {
        border-color: #1A8B57 !important; }
        .login-panel form .form-group input[type=text]:focus::-webkit-input-placeholder, .login-panel form .form-group input[type=password]:focus::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #1E2225; }
        .login-panel form .form-group input[type=text]:focus::-moz-placeholder, .login-panel form .form-group input[type=password]:focus::-moz-placeholder {
          /* Firefox 19+ */
          color: #1E2225; }
        .login-panel form .form-group input[type=text]:focus:-ms-input-placeholder, .login-panel form .form-group input[type=password]:focus:-ms-input-placeholder {
          /* IE 10+ */
          color: #1E2225; }
        .login-panel form .form-group input[type=text]:focus:-moz-placeholder, .login-panel form .form-group input[type=password]:focus:-moz-placeholder {
          /* Firefox 18- */
          color: #1E2225; }
    .login-panel form .check-box {
      text-align: left;
      font-size: 16px; }
      .login-panel form .check-box input[type=checkbox] {
        width: 24px;
        height: 24px;
        padding: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        position: absolute;
        top: -4px;
        left: 20px;
        z-index: 2; }
        .login-panel form .check-box input[type=checkbox] + label {
          background: #999;
          background: url("/images/chk_box_default.png") no-repeat 0 0;
          height: 24px;
          width: 24px;
          display: inline-block;
          padding: 0 0 0 0; }
        .login-panel form .check-box input[type=checkbox]:checked + label {
          background: #0080FF;
          background: url("/images/chk_box_selected.png") no-repeat 0 0;
          height: 24px;
          width: 24px;
          display: inline-block;
          padding: 0 0 0 0; }
      .login-panel form .check-box span {
        color: #FFFFFF;
        position: absolute;
        padding-left: 10px; }
    .login-panel form a {
      color: #FFFFFF;
      line-height: 46px;
      font-size: 14px; }
    .login-panel form a#submit, .login-panel form button#submit {
      text-transform: uppercase; }
  .login-panel hr {
    border-top: 1px solid #808080;
    max-width: 320px;
    opacity: .6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); }

.language-selection {
  text-align: right;
  margin-top: 8px;
  margin-right: 16px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101; }

#myModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  min-height: 1046px;
  background-color: rgba(0, 0, 0, 0.85); }

.mob-nav-grp {
  min-height: 64px;
  background-color: #2a3136;
  line-height: 64px; }
  .mob-nav-grp .settings {
    text-align: right; }
    .mob-nav-grp .settings a {
      padding: 10px 16px; }
  .mob-nav-grp #mob-menu-btn {
    padding: 14px 6px;
    border: 1px solid #d5d6d7;
    color: #d5d6d7;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none; }

.side-navbar {
  color: #FFFFFF;
  background: #343a3f url("/images/bgd_nav.png") no-repeat 0 0 !important;
  min-height: 706px;
  width: 288px;
  float: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s ease-in-out; }
  @media only screen and (max-width: 1200px) {
    .side-navbar {
      background: #343a3f url("/images/bgd_nav_mobile_320.png") no-repeat 0 0 !important;
      width: 320px; } }
  .side-navbar .logo {
    padding: 42px 36px;
    -webkit-transition: all 0.5s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out; }
    @media only screen and (max-width: 991px) {
      .side-navbar .logo {
        padding: 16px 36px 40px 16px; } }
    .side-navbar .logo img {
      width: 113px;
      height: auto; }
    .side-navbar .logo svg.freestyle_logo {
      width: 113px;
      height: 35px;
      display: inline-block; }
    .side-navbar .logo svg.freestyle_logo_icon {
      width: 32px;
      height: 35px;
      display: none; }
  .side-navbar .main-nav {
    padding: 0 16px;
    -webkit-transition: all 0.3s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 991px) {
      .side-navbar .main-nav {
        padding: 0; } }
    .side-navbar .main-nav a {
      display: inline-block;
      width: 100%;
      color: #FFFFFF;
      text-decoration: none;
      letter-spacing: -0.1px; }
      @media only screen and (max-width: 991px) {
        .side-navbar .main-nav a {
          font-size: 18px; } }
    .side-navbar .main-nav .card {
      background-color: initial;
      border: none;
      border-radius: 4px;
      margin-bottom: 10px;
      -webkit-transition: all 0.2s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.2s ease-in-out; }
      .side-navbar .main-nav .card:hover {
        background-color: rgba(81, 91, 108, 0.4);
        -webkit-transition: all 0.2s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: all 0.2s ease-in-out; }
      .side-navbar .main-nav .card.active {
        background-color: rgba(81, 91, 108, 0.4);
        -webkit-transition: all 0.2s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: all 0.2s ease-in-out; }
    .side-navbar .main-nav .card-header {
      background-color: initial;
      border: none;
      padding: 0;
      position: relative; }
      .side-navbar .main-nav .card-header a {
        padding: 12px 20px; }
        .side-navbar .main-nav .card-header a span {
          position: absolute;
          width: 200px;
          top: 12px;
          left: 60px; }
        .side-navbar .main-nav .card-header a.collapsed svg.carrot {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: all 0.5s ease-in-out; }
      .side-navbar .main-nav .card-header svg {
        position: relative;
        top: 3px; }
        .side-navbar .main-nav .card-header svg.dash {
          width: 22px;
          margin-right: 18px; }
        .side-navbar .main-nav .card-header svg.carrot {
          width: 10px;
          height: 7px;
          margin: 0;
          position: absolute;
          top: 22px;
          right: 20px;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transition: all 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: all 0.5s ease-in-out; }
        .side-navbar .main-nav .card-header svg.device {
          width: 20px;
          margin-right: 20px; }
        .side-navbar .main-nav .card-header svg.system-admin {
          width: 24px;
          margin-right: 16px; }
        .side-navbar .main-nav .card-header svg.alerts {
          width: 19px;
          margin-right: 21px; }
      .side-navbar .main-nav .card-header + div.sub-content {
        padding: 0 20px 12px 20px; }
        @media only screen and (max-width: 991px) {
          .side-navbar .main-nav .card-header + div.sub-content {
            padding: 0 10px 12px 10px; } }
      .side-navbar .main-nav .card-header + div .card-block {
        padding: 0; }
        .side-navbar .main-nav .card-header + div .card-block ul.sub-nav {
          list-style: none;
          padding: 0; }
          .side-navbar .main-nav .card-header + div .card-block ul.sub-nav li {
            padding: 0;
            margin-bottom: 10px; }
            .side-navbar .main-nav .card-header + div .card-block ul.sub-nav li a {
              width: 100%;
              display: inline-block;
              min-height: 40px;
              line-height: 40px;
              padding: 0 0 0 40px;
              border-radius: 4px;
              -webkit-transition: all 0.3s ease-in-out;
              /* For Safari 3.1 to 6.0 */
              transition: all 0.3s ease-in-out; }
              .side-navbar .main-nav .card-header + div .card-block ul.sub-nav li a:hover {
                background-color: #1A8B57;
                -webkit-transition: all 0.3s ease-in-out;
                /* For Safari 3.1 to 6.0 */
                transition: all 0.3s ease-in-out; }
              .side-navbar .main-nav .card-header + div .card-block ul.sub-nav li a.active {
                background-color: #1A8B57;
                -webkit-transition: all 0.3s ease-in-out;
                /* For Safari 3.1 to 6.0 */
                transition: all 0.3s ease-in-out; }
  .side-navbar .collapse-btn .arr-hide {
    text-align: right;
    position: absolute;
    bottom: 0;
    padding: 21px;
    cursor: pointer;
    left: 228px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out; }
    .side-navbar .collapse-btn .arr-hide svg {
      width: 18px;
      height: 16px;
      fill: #FFFFFF; }
  .side-navbar.nav-collapse {
    width: 60px;
    -webkit-transition: all 0.5s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out; }
    .side-navbar.nav-collapse .logo {
      padding: 42px 16px;
      -webkit-transition: all 0.5s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.5s ease-in-out; }
      .side-navbar.nav-collapse .logo svg.freestyle_logo {
        display: none; }
      .side-navbar.nav-collapse .logo svg.freestyle_logo_icon {
        display: inline-block; }
    .side-navbar.nav-collapse .main-nav {
      padding: 16px 0;
      -webkit-transition: all 0.3s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.3s ease-in-out; }
      .side-navbar.nav-collapse .main-nav .card-header a span {
        display: none; }
      .side-navbar.nav-collapse .main-nav .card-header a svg.carrot {
        width: 0;
        -webkit-transition: all 0.4s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: all 0.4s ease-in-out; }
      .side-navbar.nav-collapse .main-nav .card-header + div {
        display: none; }
    .side-navbar.nav-collapse .collapse-btn .arr-hide {
      left: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 0.5s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: all 0.5s ease-in-out; }

#menu-main-mob, #menu-profile-mob {
  background-color: #343a3f; }
  #menu-main-mob .side-navbar, #menu-profile-mob .side-navbar {
    display: none;
    padding: 0 15px; }
    @media only screen and (max-width: 991px) {
      #menu-main-mob .side-navbar, #menu-profile-mob .side-navbar {
        width: 320px; } }
    #menu-main-mob .side-navbar .mm-navbar, #menu-profile-mob .side-navbar .mm-navbar {
      display: none; }
  #menu-main-mob .mm-panels > .mm-panel:after, #menu-main-mob .mm-panels > .mm-panel:before, #menu-profile-mob .mm-panels > .mm-panel:after, #menu-profile-mob .mm-panels > .mm-panel:before {
    height: 0; }
  #menu-main-mob.mm-opened .side-navbar, #menu-profile-mob.mm-opened .side-navbar {
    display: block;
    position: relative; }
    #menu-main-mob.mm-opened .side-navbar #mm-slideout-close, #menu-profile-mob.mm-opened .side-navbar #mm-slideout-close {
      position: absolute;
      top: 24px;
      right: 15px;
      z-index: 1;
      display: inline-block; }

#menu-profile-mob #mm-slideout-close {
  display: block !important;
  float: none;
  position: relative !important;
  top: 0 !important;
  left: 16px;
  margin: 24px 0 16px 0; }
#menu-profile-mob hr.split {
  border-color: rgba(213, 214, 215, 0.4);
  margin-bottom: 30px; }
#menu-profile-mob svg path {
  fill: #d5d6d7; }

#profile-info {
  text-align: center; }
  #profile-info svg.avatar {
    width: 124px;
    height: 124px;
    fill-opacity: .2; }
    @media only screen and (max-width: 480px) {
      #profile-info svg.avatar {
        width: 84px;
        height: 84px; } }
  #profile-info p {
    letter-spacing: -0.2;
    line-height: 24px;
    margin: 0; }
    #profile-info p.user-name {
      font-size: 18px;
      margin-top: 16px; }
    #profile-info p.user-type {
      font-size: 16px;
      margin-bottom: 16px; }

#accordion-settings-mob .card.sign-out {
  margin-top: 30px; }

#menu-main-desk {
  background-color: #343a3f; }
  #menu-main-desk .side-navbar {
    min-height: 1080px; }
    @media only screen and (max-width: 991px) {
      #menu-main-desk .side-navbar {
        display: none; } }

.mm-menu.mm-offcanvas {
  width: 100%;
  min-width: 320px;
  max-width: 320px; }

html.mm-opening .mm-menu ~ .mm-slideout {
  -webkit-transform: translate(320px, 0) !important;
  -ms-transform: translate(320px, 0) !important;
  transform: translate(320px, 0) !important;
  -webkit-transform: translate3d(320px, 0, 0) !important;
  transform: translate3d(320px, 0, 0) !important; }
  @media only screen and (min-width: 991px) {
    html.mm-opening .mm-menu ~ .mm-slideout {
      -webkit-transform: translate(320px, 0);
      -ms-transform: translate(320px, 0);
      transform: translate(320px, 0);
      -webkit-transform: translate3d(320px, 0, 0);
      transform: translate3d(320px, 0, 0); } }

html.mm-opening.mm-right .mm-menu ~ .mm-slideout {
  -webkit-transform: translate(-320px, 0) !important;
  -ms-transform: translate(-320px, 0) !important;
  transform: translate(-320px, 0) !important;
  -webkit-transform: translate3d(-320px, 0, 0) !important;
  transform: translate3d(-320px, 0, 0) !important; }
  @media only screen and (min-width: 991px) {
    html.mm-opening.mm-right .mm-menu ~ .mm-slideout {
      -webkit-transform: translate(-320px, 0);
      -ms-transform: translate(-320px, 0);
      transform: translate(-320px, 0);
      -webkit-transform: translate3d(-320px, 0, 0);
      transform: translate3d(-320px, 0, 0); } }

@media only screen and (min-width: 992px) {
  .mm-page {
    position: inherit; } }

.mm-panels {
  overflow: scroll !important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch; }

.main-component {
  width: 100%; }
  .main-component .profile-settings {
    padding-top: 15px; }
    .main-component .profile-settings svg {
      width: 14px;
      height: 14px;
      fill: #2A3136;
      margin: 0 10px;
      cursor: pointer; }
      .main-component .profile-settings svg.notifications {
        width: 13px; }
      .main-component .profile-settings svg.prof-menu {
        width: 10px;
        height: 5px;
        margin: 0;
        position: relative;
        top: -1px;
        transform: rotate(180deg); }
    .main-component .profile-settings .profile-picture {
      width: 43px;
      height: 43px;
      margin-left: 20px; }
    .main-component .profile-settings .admin-text-grp {
      font-size: 14px;
      cursor: pointer;
      margin: 0 7px; }
      .main-component .profile-settings .admin-text-grp.dropdown-toggle::after {
        border: none !important; }
    .main-component .profile-settings .dropdown-menu {
      top: 40px;
      left: -100px; }
      .main-component .profile-settings .dropdown-menu a {
        font-size: 14px;
        color: #2A3136;
        -webkit-transition: all 0.1s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: all 0.1s ease-in-out; }
        .main-component .profile-settings .dropdown-menu a:hover {
          background-color: #2A3136;
          color: #EDEDED;
          -webkit-transition: all 0.1s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: all 0.1s ease-in-out; }

/*# sourceMappingURL=app.css.map */
